menu "MQTT configuration"

    config MQTT_BROKER_URL
        string "MQTT broker url"
        help
            URL of the MQTT broker.

    config MQTT_USERNAME
        string "MQTT broker username"
        help
            Username to access the MQTT broker.

    config MQTT_PASSWORD
        string "MQTT broker password"
        help
            Password to access the MQTT broker.
endmenu