menu "Thingsboard configuration"

    config THINGSBOARD_URL
        string "Thingsboard url"
    
    config THINGSBOARD_PROVISION_DEVICE_KEY
        string "Device key para el provisionamiento via Thingsboard."

    config THINGSBOARD_PROVISION_DEVICE_SECRET
        string "Device secret para el provisionamiento via Thingsboard."

    # config THINGSBOARD_DEVICE_TOKEN
    #     string "Thingsboard device token"
    #     help
    #         Temporal, hasta que tengamos el provisionamiento.

    choice Protocolo
        bool "Protocolo de comunicación"
        default USE_COAP

    config USE_MQTT
        bool "mqtt"

    config USE_COAP
        bool "coap"

    endchoice

    config COAP_WAIT_MS
        int "Tiempo de espera para coap_io_process"
        default 20000
        depends on USE_COAP

endmenu