menu "Sensores configuration."
    ###menu lector de temperatura
    config PERIODO_TEMP
        int "Periodo en segundos de muestreo de la temperatura."
        default 5
        help
            "Intervalo muestreo temperatura"
endmenu
